.button-yes{
    background-color: rgb(199, 8, 8);
    padding: 5px;
    width: 100%;
    height:50px;
    box-shadow: 3px 3px black;
    font-size: large;
    margin-bottom: 10px;
}

.button-no{
    background-color: rgb(154, 152, 152);
    padding: 5px;
    width: 100%;
    height:50px;
    box-shadow: 3px 3px black;
    font-size: large;
}

#delete-window{
    margin: 10px;
    padding: 10px;
}

.button-yes:hover{
    color:#D0D1D4;

}

.button-no:hover{
    color:#D0D1D4;
}

#delete-window>h4, h3{
    padding-bottom: 10px;
}