.rating-input .filled {
    color: #D0D1D4;
  }

  .rating-input .empty {
    color: black;
  }

  .rating-input{
    display: flex;
    font-size: xx-large;
    justify-content: center;
    padding: 0 10px 0 10px;
  }

  .rating-input>p{
    margin-left: 10px;
    font-size: x-large;
  }